In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('home_data.csv', parse_dates=['date'])

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [18]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
model = LinearRegression()

In [15]:
model.fit(df[my_features], df['price'])
y_pred = model.predict(df[my_features])
mean_squared_error(df['price'], y_pred)**0.5

255637.33438786434

In [16]:
model.fit(df[advanced_features], df['price'])
y_pred = model.predict(df[advanced_features])
mean_squared_error(df['price'], y_pred)**0.5

201163.9023854711

In [23]:
df.groupby('zipcode')['price'].mean().sort_values(ascending=False)

zipcode
98039    2160606
98004    1355927
98040    1194230
98112    1095499
98102     901258
98109     879623
98105     862825
98006     859684
98119     849448
98005     810164
98033     803719
98199     791820
98075     790576
98074     685605
98077     682774
98053     678163
98177     676185
98008     645507
98052     645231
98122     634360
98115     619900
98116     618634
98007     617105
98027     616990
98029     612653
98144     594547
98103     584919
98024     580526
98107     579053
98117     576795
          ...
98014     455617
98045     439471
98019     424788
98126     424706
98155     423725
98010     423665
98056     420890
98118     417637
98133     386997
98038     366867
98146     359483
98108     355678
98058     353608
98092     334921
98106     319581
98022     315709
98042     311632
98178     310612
98055     304262
98198     302878
98031     300539
98030     296187
98003     294111
98188     289078
98023     286732
98148     284908
98001     280804
98032     251296
98168     240328
98002     234284
Name: price, dtype: int64

In [27]:
((df['sqft_living'] > 2000) & (df['sqft_living'] < 4000)).sum() / df.shape[0]

0.42155184379771432